#bacon {
  background: url('http://media.npr.org/assets/img/2012/04/12/bacon-heart_custom-78cbdeeed2f6356fb6f9496c790b29a609a1fdec-s6-c30.jpg');
}
li {
  border: 1px dashed navy;
  background-color: tomato;
}
