doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill III
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Drill 3
      img(src='http://www.artistshelpingchildren.org/images-08/400x400-cartoon-vampire-150x150.png')
    #controls
      input#color(type='text' placeholder='color' autofocus)
      input#add-color(type='button' value='add color')
    #colors
