doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title This Drill is Crazy
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 Drill 2 - Getting Crazy
      img(src='http://img.photobucket.com/albums/v67/Flipmcgee/bot01.gif')
    #bacon
      ul
      - for(var i = 0; i < 100; i++)
        li= i
