doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Game: Sea Shell Shuffle
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    header
    h1 Game: Sea Shell Shuffle
    div#top
      input#play(type='button', value='PLAY')
    div#shells
    div.clear
    div#win-lose
    div#stats
