doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title DRILL: Wind Forecast
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 DRILL: Wind Forecast
    input#get-weather(type='button', value='Get Local Weather')
    #container
