body {
  background-color: lightgray;
}
input {
  border: 4px solid orchid;
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px black;
}
select {
  border: 4px solid orchid;
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px black;
}
h1 {
  color: purple;
}
#day0,
#day1,
#day2,
#day3 {
  position: center;
  width: 75px;
  height: 250px;
  float: left;
  margin: 35px;
  padding: 15px;
  border: 1px dotted orchid;
  box-shadow: 5px 5px 5px gray;
}
